@import '~@fluentui/react/dist/sass/References.scss';

.transmittalReviewDocument {
  div.alignCenter {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div.flex {
    display: flex;
  }

  div.width {
    width: 50%;
  }

  .border {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .divMetadata {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }

  .divMetadataCol1 {
    width: 100%;
    display: flex;
  }

  .divMetadataCol2 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .divMetadataCol3 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .divMetadataCol4 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .header {
    border-bottom: 1px solid rgb(161, 159, 157);
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .bold {
    font-weight: bold;
  }

  .divLabel {
    margin-top: 5px;
    margin-left: 5px;
  }

  .divRow {
    display: flex;
    margin-top: 10px;
  }

  .mandatory {
    font-style: italic;
    font-size: 12px;
    margin-right: 27rem;
  }

  .AccordionItemButton {
    width: 100%;
    background-color: "[theme: themeLighter, default: #005a9e]";
  }

  .innerRow {
    color: black;
    margin-top: 12px;
  }

  .innerRow1 {
    color: black;
    margin-top: 12px;
    width: 50%;
  }

  .pleft {
    margin-left: 1px;
  }

  .Accordion {
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .tableClass {
    border: 1px solid #ddd;
    width: 100%;
    min-width: 600px;

    border-collapse: collapse;
    background-color: #f2f2f2;

    .tr {
      background-color: #f2f2f2;

    }

    .tbody {
      width: 100%;
      border-collapse: collapse;
    }

    .th {
      border: 1px solid #ddd;
      padding: '8px';
      border-collapse: collapse;
      padding: 5px;
    }
  }

  .mt {
    margin-top: 10px;
  }

  .tableblock {
    overflow-x: auto;
    width: 100%;
  }

  .btn {

    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
  }

  .rgtalign {
    width: 100%;
    text-align: right;
  }
}