@import '~office-ui-fabric-react/dist/sass/References.scss';

.transmittalSendRequest {
  div.alignCenter {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .border {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  div.flex {
    display: flex;
  }

  div.width {
    width: 50%;
  }

  .cmnt {
    overflow-x: auto;
  }

  .mt {
    margin-top: 10px;
  }

  div.drpdwn {
    width: 100%;
  }

  input {
    height: 30px;
    width: 100%;
  }

  // .title-155{
  //   height: 34px;
  // }
  .btn {
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
  }

  .rgtalign {
    width: 100%;
    text-align: right;
  }

  .divMetadata {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }

  .divMetadataCol1 {
    width: 100%;
    display: flex;
  }

  .divMetadataCol2 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .divMetadataCol3 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .divMetadataCol4 {
    width: 100%;
    margin-left: 15px;
    display: flex;
  }

  .header {
    border-bottom: 1px solid rgb(161, 159, 157);
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .divLabel {
    margin-top: 5px;
    margin-left: 5px;
  }

  .divRow {
    display: flex;
    margin-top: 10px;
  }

  .mandatory {
    font-style: italic;
    font-size: 12px;
    margin-right: 27rem;
  }

}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}